# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Resultados de entrenamiento
results/

# Modelos entrenados
models/

# Dataset procesado (opcional)
data/processed/

# Modelos grandes
*.safetensors

# Logs
*.log

# OS
.DS_Store

.env